numpy
opencv-python
pillow
python-multipart
uvicorn
streamlit
fastapi
OmegaConf
streamlit-authenticator
mysql-connector-python
pandas
streamlit-drawable-canvas==0.9.0
svgpathtools
svgwrite
python-dotenv
minio
omegaconf